.hero {
  background: linear-gradient(135deg, #1BA0E2, #0F4C75);
  padding: 120px 20px;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 44px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.search-box {
  background: white;
  padding: 20px;
  border-radius: 15px;
  display: inline-flex;
  gap: 15px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.search-box input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  min-width: 150px;
}

.search-box button {
  background: #FFD166;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.search-box button:hover {
  transform: scale(1.05);
}

.popular {
  padding: 80px 60px;
  text-align: center;
}

.popular h2 {
  margin-bottom: 50px;
  font-size: 30px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 20px 0 10px;
}

.card p {
  margin-bottom: 20px;
  color: #555;
}
