body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f5f7fa;
}

/* ================= NAVBAR ================= */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;
  box-sizing: border-box;

  /* TRANSPARAN DI AWAL */
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  z-index: 1000;
  transition: background 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
}

.navbar-scrolled {
  /* JADI PUTIH SAAT SCROLL */
  background: white;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  padding: 14px 60px;
}


/* LOGO */
.logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
}

/* LINKS */
.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  transition: 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #ffd166;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.navbar-scrolled .logo {
  color: #1ba0e2;
}

.navbar-scrolled .nav-links a {
  color: #333;
}

.navbar-scrolled .nav-links a::after {
  background: #1ba0e2;
}

.content {
  padding-top: 80px;
}
